.confirm__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.confirm__heading {
    margin-bottom: 40px;
    text-align: center;
    color: #684e47;
    font-size: 25px;
}

.form {
    margin: 0 auto;
    width: 70%;
}

.confirm-table {
    border: 1px solid #ddd;
}

.confirm-table__inner {
    width: 100%;
}

.confirm-table__header {
    padding: 15px;
    width: 20%;
    border-bottom: 1px solid #ddd;
    color: #ddd;
    background-color: #684e47;
    font-weight: bold;
}

.confirm-table__text {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.confirm-table__name-field {
    display: flex;
    justify-content: flex-start;
    gap: 0;
}

.confirm-table__name-field input {
    width: auto !important;
    flex: none !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none;
    background: transparent;
}

.confirm-table__name-field input[name="first_name"] {
    margin-right: 5px !important;
}

.confirm-table__text input {
    width: 100%;
    outline: none;
    border: none;
}

.confirm-table__row:last-child .confirm-table__header,
.confirm-table__row:last-child .confirm-table__text {
    border-bottom-width: 0;
}

.form__button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
    margin-top: 30px;
    text-align: center;
}

.form__button-submit {
    padding: 10px;
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background-color: #684e47;
    color: #ddd;
    cursor: pointer;
    font-weight: bold;
}

.form__button-back {
    padding: 10px;
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background-color: #ddd;
    color: #684e47;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
}