.contact-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.contact-form__heading {
    margin-bottom: 40px;
    text-align: center;
    color: #684e47;
    font-size: 25px;
}

.form {
    margin: 0 auto;
    width: 70%;
    text-align: left;
}

.form__group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    white-space: nowrap;
}

.form__group-title {
    width: 30%;
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin-bottom: 0;
}

.form__label--required {
    color: #ff0000;
}

.form__error-group {
    display: flex;
    gap: 40px;
    width: 100%;
    max-width: 600px;
}

.form__error {
    flex: 1;
    text-align: left;
    font-size: 14px;
    margin-top: -10px;
    min-height: 10px;
    color: #ff0000;
}

.form__group-content {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.form__input--text input,
.form__input--text-name input,
.form__input--text-tel input,
.form__input--textarea textarea {
    width: 100%;
    max-width: 600px;
    padding: 10px;
    border: 1px solid #af928a;
    border-radius: 4px;
    box-sizing: border-box;

    appearance: none;
}

.form__input--text-name {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
}

.form__input--text-tel {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 600px;
}

.form__input--text-tel input {
    flex: 1;
    width: auto;
    height: 40px;
}

.form__input--text-tel span {
    font-weight: bold;
}

.form__input--text select {
    width: 100%;
    max-width: 200px;
    height: 40px;
    padding: 10px;
    border: 1px solid #af928a;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fff;
    cursor: pointer;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 24 24" fill="none" stroke="%23af928a" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M6 9l6 6 6-6"/></svg>');
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 12px;
}

.form__input--text select::-ms-expand {
    display: none;
}

.form__button {
    margin-top: 30px;
    text-align: center;
}

.form__button-submit {
    padding: 10px;
    width: 30%;
    height: 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #ddd;
    background-color: #af928a;
}